alembic==1.11.1
anyio==3.7.1
async-timeout==4.0.2
bidict==0.22.1
black==23.7.0
certifi==2023.7.22
cfgv==3.3.1
click==8.1.6
cloudpickle==2.2.1
distlib==0.3.7
exceptiongroup==1.1.2
fastapi==0.96.1
filelock==3.12.2
flake8==6.0.0
Flake8-pyproject==1.2.3
gunicorn==20.1.0
h11==0.14.0
httpcore==0.17.3
httpx==0.24.1
identify==2.5.26
idna==3.4
isort==5.12.0
Jinja2==3.1.2
Mako==1.2.4
markdown-it-py==3.0.0
MarkupSafe==2.1.3
mccabe==0.7.0
mdurl==0.1.2
mypy-extensions==1.0.0
nodeenv==1.8.0
packaging==23.1
pathspec==0.11.1
platformdirs==3.9.1
plotly==5.15.0
pre-commit==3.3.3
psutil==5.9.5
pycodestyle==2.10.0
pydantic==1.10.11
pyflakes==3.0.1
Pygments==2.15.1
python-dotenv==0.13.0
python-engineio==4.5.1
python-multipart==0.0.5
python-socketio==5.8.0
PyYAML==6.0.1
redis==4.6.0
reflex==0.2.2
rich==13.4.2
six==1.16.0
sniffio==1.3.0
SQLAlchemy==1.4.41
sqlalchemy2-stubs==0.0.2a35
sqlmodel==0.0.8
starlette==0.27.0
starlette-admin==0.9.0
tenacity==8.2.2
tomli==2.0.1
typer==0.4.2
typing_extensions==4.7.1
uvicorn==0.20.0
virtualenv==20.24.2
watchdog==2.3.1
watchfiles==0.19.0
websockets==10.4
