<link rel = "stylesheet" type = "text/css" href = "static/css/partials/header.css"/>

<header>
    
    <!-- Home, Art, Music & Blog -->
    <div class = "links">
        
        <!-- Add logo or page name -->
        <a class = "logo" href = "/">
            <div class = "logo-container"></div>
        </a>
    
    </div>

    <div class = "functionalities">
        
        <!-- Theme icon -->
        <i class = "fas fa-sun" id = "theme-icon" onclick = "changeTheme()"></i>

    </div>

</header>