{% extends "base.html" %}

{% block content %}
    <p>
        {% if page and page.content %}
            {{ page.content | safe }}
        {% elif section and section.content %}
            {{ section.content | safe }}
        {% endif %}
    </p>
    <section class="project-page">
        {% set data = load_data(path="content/apps/apps.toml") %}
        {% set projects = data.items | sort(attribute="date") | reverse %}

        {% set theme_colors = load_data(path="content/themes.toml") %}
        {% set theme_name = config.extra.theme %}
        {% set theme = theme_colors.themes[theme_name] %}

        {% set embed_type = "image" %}
        {% set embed_class = "app-embed" %}
        {% include "components/project.html" %}
    </section>
{% endblock content %}
