{% extends "base.html" %}

{% block content %}
    <p>
        {% if page and page.content %}
            {{ page.content | safe }}
        {% elif section and section.content %}
            {{ section.content | safe }}
        {% endif %}
    </p>
    <ul>
        {% for page in section.pages %}
        <li>
            <a href="{{ page.permalink }}">{{ page.title }}</a>
            {% if page.date %} — {{ page.date }}{% endif %} {% if page.description
            %}
            <p>{{ page.description }}</p>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
{% endblock content %}
