.contact-form {
    gap: 1rem;
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    align-items: center;
    align-content: stretch;
    flex-direction: column;
    justify-content: flex-start;
}

.contact-form p {
    margin: 1rem;
}

.contact-form form {
    gap: 1rem;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    align-content: stretch;
    flex-direction: column;
    justify-content: flex-start;
}

.contact-form input textarea {
    width: 50%;
    max-width: 512px;
}

.contact-form textarea {
    height: 50%;
    max-height: 512px;
}

.contact-form button {
    width: 30%;
    max-width: 128px;
    color: var(--font-color);
    font-weight: bold;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--green);
    cursor: pointer;
}