.social-media {
	/* Flex */
	flex: 0 1 50%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.social-media ul {
    padding: 0;
    width: 100%;
    margin: 0 auto;
    list-style: none;
    text-align:center;

    /* Flex */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.social-media li {
    margin: 0.75em;
}

.social-media i {
    font-size: 1.75em;
}