@use "../base/variables";

footer {
    padding-block: 1.5rem;
    margin-top: 2rem;
    text-align: center;
    // background-color: variables.$color-surface;
    color: variables.$color-text-muted;
    // border-top: 1px solid variables.$color-border;
}

footer ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0 0 0rem 0;
}

footer a {
    color: variables.$color-text-muted;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    text-decoration: none;
}

footer a:hover,
footer a:focus {
    color: variables.$color-primary;
}

footer i {
    font-size: 1.75rem;
}

footer p {
    margin: 0;
    color: inherit;
    font-size: 0.875rem;

    a {
        margin: 0;
        color: inherit;
        width: auto;
        height: auto;
        font-size: inherit;
    }
}
