@use "../base/variables";

.last-updated {
    text-align: center;
    margin: 0 0 0 0;
    padding-block: 1.5rem;
    // border-top: 1px solid variables.$color-border;
    color: variables.$color-text-muted;
    font-size: 0.875rem;

    p {
        margin: 0;
        color: inherit;
    }

    time {
        font-style: italic;
    }
}
