:root {
    --green: #30d158;
    --black: #1c1c1e;
    --dark-grey: #3a3a3c;
    --medium-grey: #8e8e93;
    --light-grey: #e5e5e5;
    --off-white: #f2f2f7;
    --red: #ff375f;
    --light-red: #ff453a;
    --orange: #ff9f0a;
}